<% provide(:title, "Checklist") %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<h1 class="ah">This is a Checklist for the Car</h1>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style type = "text/css">
    html, body {
        /*height: 100%;*/
        /*margin: 0;*/
        /*padding: 0;*/
        background-image: url(https://cnet4.cbsistatic.com/img/L0pm54fJ3KjS18Ge_IoDxSQZWlI=/1600x900/2018/01/12/9a4d6774-b833-402a-ad72-4d75eb45c5ae/gm-cruise-av-final.jpg);
        background-size: cover;
      }
</style>
<body>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul id="contain">
            <li class="al">
                <input id="tire_pressure" type="checkbox" value="OK" />
                <label for="tire_pressure">Tire Pressure</label>
            </li>
            <li class="al">
                <input id="cooling_liquid" type="checkbox" value="OK" />
                <label for="cooling_liquid">Cooling Liquid</label>
            </li>
            <li class="al">
                <input id="engine_light" type="checkbox" value="OK" />
                <label for="engine_light">Engine Light</label>
            </li>
            <li class="al">
                <input id="lights" type="checkbox" value="OK" />
                <label for="lights">Lights</label>
            </li>
        </ul>
    <%= link_to "Continue",current_user , class: "btn btn-primary disabled", id: "dis"%>
  </div>
</div>
</body>

<script>
    var elements = 4;
    $(document).ready(function() {
        $('#dis').click(function(event){
            if($('input[type=checkbox]:checked').length !==  elements) {
                event.preventDefault(); // Prevent link from following its href
            }
        });
    });
    $("#contain").click(function(e) {
        if( $('input[type=checkbox]:checked').length ===  elements ){
            $('#dis').removeClass('disabled');
        }
        else {
            $('#dis').addClass('disabled');
        }
    });
</script>